.modal_background {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 2;
}

.modal_wrapper {
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: white;
  width: 900px;
  max-height: 90vh; /* 윈도우 높이에 맞게 최대 높이 제한 */
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 시각적 분리 */
}

.modal_content {
  padding: 20px; /* 내용물과 가장자리 간격 확보 */
}

.modal_header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fefefe; /* 상단 배경 추가 */
  border-bottom: 1px solid #ddd; /* 시각적 분리 */
  position: sticky; /* 스크롤할 때 상단에 고정 */
  top: 0;
  z-index: 1;
}

.model_header_btn {
  background: transparent;
  border-radius: 10px;
  padding: 8px 10px 8px 10px;
  border: transparent;

  font-size: 1.3rem;
  font-weight: bold;

  transition: all 0.25s ease-out;
}

.model_header_btn:hover {
  cursor: pointer;
}

.model_header_btn:nth-child(1):hover {
  filter: drop-shadow(0 0 2px rgb(122, 122, 122));
  color: red;
}

.model_header_btn:nth-child(3):hover {
  filter: drop-shadow(0 0 2px rgb(122, 122, 122));
  color: red;
}

.item_list_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.session_item {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;

  /* transition: all 0.5s ease-out; */
}

.session_item:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}
